*{
    margin: 0%;
    padding: 0%;
}
.heading{
    /* background: rgb(2,0,36); */
     /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-family: fantasy;
    font-style: italic;
    border-bottom: #a8eb12;
    margin: 20px;
}
.content{
    margin: auto;
    margin-left: 400px;
}
#inp{
    width: 500px;
    height: 50px;
    background-color: #004d7a;
    border: 2px solid ;
    border-color: 1px solid transparent;
    border-radius: 25px;
    text-align: center;
}
.button{
    width: 120px;
   margin: 5px;
   margin-left: 10px;
   height: 40px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) !important;
    border: 2px solid ;
    border-color: 1px solid transparent;
    border-radius: 25px;
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.content .btn{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) !important;
    margin: 2px;
    border-radius: 30px;
    color: #051937;
    font-weight: bold;
}
.inline{
    padding: 5px;
    margin: 5px;
    color: #00bf72;
    font-style: italic;
    
}